

@media (max-width: 1700px){
	h1 { font-size: 36px; }
	.navbar-brand img{ width: 84%; }
	.navbar-toggler span { border: 1px solid #2a5da3;    margin-bottom: 7px;    padding: 0.5px 14px; }
	.hero-content p, .modal-body p { font-size: 15px; }	
	.swiper-slide{ width: 442px;	height: 648px; }
	.about-section { padding: 50px 0; }
	.about-section p, .features p, .title p { line-height: 28px;	font-size: 13px; }
	.feature-section { padding-bottom: 90px; }
	.feature-section h1 {  margin-bottom: 38px; }
	.features i, .title h2 { font-size: 34px; }
	.features h3 { font-size: 22px; }
	.feature-img img { width: 70%;	top: -55%; }
	.perspective-section { padding: 0 0 60px; }
	.perspective i { font-size: 45px; }
	.perspective h3 { margin: 40px 0 30px;    font-size: 28px; }
	.opinion-section { padding: 100px 0 110px; }
	.opinion p { font-size: 17px; }
	.btn-all, .info p { font-size: 14px; }
	.owl-carousel button.owl-dot { width: 10px;    height: 10px; }
	.download-section { padding: 100px 0 120px; }
	.mobile { width: 415px;    top: 45%; }
	.phoneSwiper .swiper-wrapper{ margin-top: 0px; }
	.phoneSwiper .swiper-slide{ margin-top: 120px; }
	.phoneSwiper .swiper-slide img { width: 270px;	height: auto; }
	.menu ul li a, footer p { font-weight: 700; }
	.modal-lg, .modal-xl { --bs-modal-width: 650px; }
	.modal-header { padding: 60px 0; }
	.modal-header .modal-logo { width: 190px;    height: 190px;		top: -88%; }
	.modal-header .modal-logo img{ width: 58%; }
	.modal-body h2 { font-size: 26px; }
	.modal-footer { margin: 14px 0 40px; }
	.modal-footer .symu { padding: 15px 25px;    font-size: 15px; }
}

@media (min-width: 1400px) and (max-width: 1700px){
	.swiper-slide{ width: 543px; }
	.about-section { padding: 90px 0; }
	.feature-section { padding: 100px 0; }
	.feature-img img { width: 60%; }
	.perspective-section { padding: 60px 0; }
	.perspective-img img { top: 45%; }
}

@media (max-width: 1199px){
	h1, .features i, .title h2 { font-size: 30px; }
	.btn-all { padding: 12px 25px;    font-size: 13px; }
	.hero-content { margin-top: 70px; }
	.hero-content h1{ font-size: 36px; }
	.hero-content p { margin: 25px 0 60px; }
	.navbar-brand img { width: 70%; }
	.offcanvas-title img { width: 65%; }
	.navbar-toggler span { margin-bottom: 5px;    padding: 0.5px 11px; }
	.slider-section { padding: 50px 0 20px; }	
	.feature-section { padding: 80px 0 0px; }
	.feature-row { margin: 90px 0 160px; }
	.features h3 { margin-top: 22px;    font-size: 20px; }
	.features { margin-bottom: 40px; }
	.feature-img img { width: 76%;    top: -48%; }
	.perspective-section { margin-bottom: 85px;		padding: 50px 0;}
	.perspective i { font-size: 40px; }
	.perspective h3 { margin: 30px 0 20px;    font-size: 25px; }
	.opinion-section { padding: 75px 0 85px; }
	.opinion p { font-size: 16px; }
	.info { margin: 40px 0 70px; }	
	.download-section { padding: 80px 0 100px; }
	.title p { margin-bottom: 0;	padding: 0; }
	.mobile { width: 370px;    top: 47%; }
	.phoneSwiper .swiper-wrapper { min-height: 700px; }
	.phoneSwiper .swiper-slide{ margin-top: 145px;	height: 580px; }
	.phoneSwiper .swiper-slide img { width: 240px;	height: auto; }
	.modal-lg, .modal-xl { --bs-modal-width: 530px; }
	.modal-header { padding: 50px 0; }
	.modal-header .modal-logo { box-shadow: 0px 12px 15px #b9bcd1;	width: 170px;    height: 170px; }
	.modal-header .modal-img { width: 150px;    height: 150px; }
	.nav-link, .modal-body p, .modal-footer .symu { font-size: 14px; }
	.modal-footer { margin: 6px 0 30px; }
	footer { padding: 30px 0 20px; }
	.menu ul li a, footer p, .info p { font-size: 13px; }
}

@media (max-width: 991px){
	.hero-content h1 { font-size: 32px; }
	.offcanvas-title img { width: 60%; }
	.mySwiper .swiper-slide { width: 300px;	height: auto; }
	.about-section { text-align: center; }
	.about-img img { display: none; }
	.feature-img img { position: relative; }
	.feature-row { margin: 55px 0 30px; }
	.feature-img .mobile-hide{ display: none; }
	.feature-img .desk-hide{ display: block; }
	.feature-img { margin-bottom: 40px; }
	.perspective-section { margin-bottom: 50px; }
	.perspective i { font-size: 34px; }
	.perspective-img img { width: 80%;     z-index: -1;    opacity: .3; }
	footer { padding: 30px 0; }
	footer .menu ul { justify-content: center; } 
	footer p { text-align: center !important; }
}

@media (max-width: 767px){
	.feature-row { margin: 30px 0 0;}
	.feature-title{ display: flex;	align-items: center;	gap: 15px; }
	.features h3 { margin-top: 0;	font-size: 20px; }
	.perspective-section { margin-bottom: 50px;    padding: 0; }
	.perspective-section .features h3 { margin: 0; }
	.features p { margin: 25px 0 0; }
	.perspective-section .features p { margin: 25px 0; }
	.features i { font-size: 30px; }
	.info { margin: 25px 0 40px; }
	.opinion-section { padding: 70px 0 75px; }
}

@media (max-width: 575px){
	.opinion p { font-size: 15px; }
	.info p { font-size: 13px; }
	.title h2 { font-size: 28px; }
	.modal.show .modal-dialog.modal-lg, .modal.show .modal-dialog.modal-xl { margin: 0;		width: 300px;	left: 50%;	transform: translateX(-50%); }
	.modal-header { padding: 35px 0; }
	.modal-header .modal-logo { width: 140px;    height: 140px;		top: -115%; }
	.modal-body h2 { font-size: 22px; }
	.modal-body p { font-size: 13px; }
	.modal-footer { margin: 0px 0 18px; }
	.modal-footer .symu { padding: 12px 22px;    font-size: 13px; }
}

@media (max-width: 480px){
	.mySwiper .swiper-slide { width: 340px; }
}

@media (max-width: 375px){
	.navbar-toggler { padding: 0; }
	.features i { font-size: 25px; }
	.features h3 { font-size: 16px; }
	.info { flex-direction: column; }
	.menu ul { gap: 15px; }
}